body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack the SVG and slider vertically */
}

.wordcloud-container text {
  cursor: pointer;
}

WordCloud.css .wordcloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}
/* 
svg {
  border: 1px solid #ccc; 

} */

.slider-container {
  margin-top: 10px; /* Space between the SVG and the slider */
}

/* WordCloud.css */
.word-cloud text {
  font-family: Quicksand;
}

.word0 {
  fill: #1f77b4; /* Color 1 */
}

.word1 {
  fill: #2ca02c; /* Color 2 */
}

.word2 {
  fill: #17becf; /* Color 3 */
}

.word3 {
  fill: #44a0a1; /* Color 4 */
}

.word4 {
  fill: #9467bd; /* Color 5 */
}

.word5 {
  fill: #4b8c79;
}
.word6 {
  fill: #e377c2;
}
.word7 {
  fill: #7f7f7f;
}
.word8 {
  fill: #bcbd22;
}
.word9 {
  fill: #7ed9ee;
}

/* Adjust font size for better readability */
.wordcloud text {
  font-size: 20px; /* Default font size */
}

.slider-container {
  padding-top: 50px;
  text-align: center;
}
