body {
  background-color: rgb(236, 234, 234);
  /* font-family: "Courier New", Courier, monospace;
  font-family: "Roboto", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack the SVG and slider vertically */
}

#root {
  background-color: white; /* Container element for the SVG and slider */
  padding: 90px;
  border-radius: 25px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.wordcloud-container text {
  cursor: pointer;
}

WordCloud.css .wordcloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

/* svg {
  border: 1px solid #ccc;
} */

/* WordCloud.css */
.word-cloud text {
  font-family: Quicksand;
}

.word0 {
  fill: #1f77b4;
}

.word1 {
  fill: #2ca02c;
}

.word2 {
  fill: #17becf;
}

.word3 {
  fill: #44a0a1;
}

.word4 {
  fill: #9467bd;
}

.word5 {
  fill: #4b8c79;
}
.word6 {
  fill: #e377c2;
}
.word7 {
  fill: #7f7f7f;
}
.word8 {
  fill: #bcbd22;
}
.word9 {
  fill: #7ed9ee;
}

/* Adjust font size for better readability */
.wordcloud text {
  font-size: 20px; /* Default font size */
}

/* Add styles for the slider and the datalist container */

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px; /* Space between the SVG and the slider */
  width: 900px;
  /* padding-top: 5px; */
  text-align: center;
}

#num-words-slider {
  width: 60%;
  text-align: center;
  background: #d3d3d3;
}

.datalist-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
/* 
.datalist-container label {
  text-align: right;
  flex: 1;
} */

input[type="range"] {
  width: 100%;
}
